@import "../../index.scss";

.portfolio {
    height: 60rem;
    .techStacks {
        display: flex;
        flex-wrap: wrap;
        margin: 0rem 1rem;
        justify-content: center;
        align-items: center;
        .techStack {
            margin: 1rem;
            width: 5rem;
            height: 5rem;
            fill: $color2;
            color: $color2;
            text-align: center;
            border: $border;
            transition: $transition;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            cursor: pointer;
            &.active,
            &:hover {
                border-radius: 1rem;
                // background-color: $color4;
                fill: $color4;
                color: $color4;
                border-color: $color4;
            }
        }
    }
    .container {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        transition: $transition;
        .projectRow {
            scroll-snap-align: center;
            transition: $transition;
            height: 100%;
            width: 100%;
            display: flex;
            .project {
                margin: 1rem;
                border: $border;
                flex-basis: 100%;
                color: $color4;
                // background-color: $color2;
                display: grid;
                grid-template-columns: 2fr 3fr;
                & > div {
                    margin: 1rem;
                }
                .projectImage {
                    object-fit: cover;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .projectInfo {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    font-size: 2rem;
                    .projectName {
                        font-size: 4rem;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        color: $color3;
                        font-weight: bold;
                    }
                    .projectCallToAction {
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        a {
                            border: $border;
                            color: $color2;
                            text-decoration: none;
                            padding: 0.2rem 1rem;
                            transition: $transition;
                            &:hover {
                                border-radius: 2rem;
                                border-color: $color4;
                                color: $color4;
                            }
                        }
                    }
                }
            }
        }
    }
}
.githubCalendar {
    h1 {
        font-size: 3rem;
    }
    article {
        font-size: 2rem;
    }
    @media only screen and (max-width: 850px) {
        display: none;
    }
}
