@import "../../index.scss";

.sideBar {
    position: absolute;
    top: auto;
    list-style: none;
    z-index: 10;
    i {
        transition: all 0.3s ease-in-out;
        width: 9rem;
        height: 6rem;
        margin-right: 2rem;
        padding: 1rem 1rem;
        text-align: right;
        background-color: $color2;
        font-size: 4rem;
        color: $color4;
        transform: translateX(-3rem);
        cursor: pointer;
        &:hover {
            transform: translateX(0rem);
        }
    }
}

.header {
    width: 100%;
    height: 60rem;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    transition: $transition;
    z-index: 10;
    .main_header {
        scroll-snap-align: start;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        text-align: left;
        & > div {
            flex-basis: 100%;
        }
        .codingGif {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media only screen and (max-width: 620px) {
                display: none;
            }
        }
        .heading {
            display: flex;
            justify-content: center;
            // align-items: center;
            flex-direction: column;
            text-align: right;
            padding-right: 1rem;
            h1 {
                font-size: 4rem;
                span {
                    font-size: 4rem;
                }
            }
            .wave {
                animation-name: wave-animation;
                animation-duration: 2.1s;
                animation-iteration-count: infinite;
                transform-origin: 70% 70%;
                display: inline-block;
                font-size: 4rem;
            }
        }
        * {
            font-size: 3rem;
        }
    }
    .sub_header {
        color: $color4;
        font-size: 3rem;
        scroll-snap-align: start;
        width: 100%;
        height: 100%;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
            font-size: 4rem;
            text-transform: capitalize;
            .colored {
                font-size: 4rem;
                color: $color4;
            }
        }
        .container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (max-width: 620px) {
            }
            & > div {
                padding: 1rem;
                margin: 1rem;
            }
            .avatar {
                width: 20rem;
                height: 20rem;
                object-fit: cover;
                overflow: hidden;
                background-color: $color2;
                border-radius: 50%;
                img {
                    transform: scale(1.1);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                @media only screen and (max-width: 440px) {
                    display: none;
                }
            }
            .content {
                flex-basis: 100%;
                .highlight {
                    font-weight: bold;
                    color: $color3;
                    text-decoration: none;
                    overflow: hidden;
                    transition: $transition;
                    &:hover {
                        color: $color4;
                        background-color: $color3;
                    }
                }
            }
        }
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(14deg);
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }
    30% {
        transform: rotate(14deg);
    }
    40% {
        transform: rotate(-4deg);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}

@media only screen and (max-width: 850px) {
    .sideBar {
        bottom: 0;
        display: flex;
        padding: 0rem;
        i {
            margin-right: 0;
            width: 7rem;
            text-align: center;
            padding: 1rem 2rem;
            transform: translateX(0rem);
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $color2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
