@import "../../index.scss";

.sideBar {
    position: absolute;
    top: auto;
    list-style: none;
    i {
        transition: all 0.3s ease-in-out;
        width: 9rem;
        height: 6rem;
        margin-right: 2rem;
        padding: 1rem 1rem;
        text-align: right;
        background-color: $color2;
        font-size: 4rem;
        color: $color4;
        transform: translateX(-3rem);
        cursor: pointer;
        &:hover {
            transform: translateX(0rem);
        }
    }
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    font-family: "Roboto", sans-serif;
    h1 {
        font-size: 4rem;
    }
    .heading {
        display: flex;
    }
    * {
        font-size: 3rem;
    }
}

.highlight {
    color: $color3;
    font-weight: bold;
    display: inline-flex;
    padding: 0.3rem;
    text-transform: capitalize;
    @include bgEffect;
}

.typewriter {
    margin-left: 1rem;
    width: 27rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid $color4;
    animation: cursor 1s step-start infinite,
        text 5s steps(18) alternate infinite;
}

@keyframes cursor {
    0% {
        border-color: $color4;
    }
    50% {
        border-color: $color1;
    }
}

@keyframes text {
    0% {
        width: 0;
    }
    50% {
        width: 27rem;
    }
}

@media only screen and (max-width: 850px) {
    .sideBar {
        bottom: 0;
        display: flex;
        padding: 0rem;
        i {
            margin-right: 0;
            width: 7rem;
            text-align: center;
            padding: 1rem 2rem;
            transform: translateX(0rem);
        }
    }
}

// @media only screen and (max-width: 768px) {
//     .sideBar {
//     }
// }
