@import "../../index.scss";

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .highlight {
        text-transform: lowercase;
    }
    .sideBar {
        position: relative;
        display: flex;
        margin: 2rem;
        i {
            width: 6rem;
            text-align: center;
            margin: 0rem;
            transform: translateX(0rem);
            &:hover {
                background-color: white;
                transform: translateY(-1rem);
            }
        }
    }
}
