@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-dark: #222831;
  --color-steel: #30475e;
  --color-accent: #f05454;
  --color-light: #dddddd;
  --color-text: #cfd2dc;
  --color-text-body: #cfd2dc;
}

html {
  scroll-behavior: smooth;
}

.no-scroll-bar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none;
}

@plugin "@tailwindcss/typography";
