@import "tailwindcss";

@theme {
  --color-dark: #222831;
  --color-steel: #30475e;
  --color-accent: #f05454;
  --color-light: #dddddd;
}

.arrow {
  @apply absolute top-1/2 w-16 h-32 cursor-pointer transition-transform duration-100 transform active:scale-90 -translate-y-1/2;
  right: 1rem;
}

.arrow-reverse {
  left: 1rem;
  right: auto;
  transform: scaleX(-1);
}

.arrow-line {
  @apply absolute top-1/2 left-[-5px] w-full h-1 bg-[#dddddd] -translate-y-1/2;
  position: absolute;
}

.arrow-line::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  background-color: #f05454;
  transition: all 0.15s;
}

/* forward arrow animation */
.arrow:hover .rotate-45::after {
  left: 0;
  transition-delay: 0.15s;
}
.arrow:hover .-rotate-45::after {
  right: 0;
  transition-delay: 0s;
}

/* initial state for ::after */
.rotate-45::after {
  left: 100%;
  right: 0;
  transition-delay: 0s;
}
.-rotate-45::after {
  left: 0;
  right: 100%;
  transition-delay: 0.15s;
}
