@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$color1: #181818;
$color2: #8758ff;
$color3: #5cb8e4;
$color4: #f2f2f2;
$border_radius: 0.5rem;
$default_font: 2.5rem;

html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Andika", sans-serif;
    color: $color4;
    font-size: $default_font;
}

h1 {
    font-size: $default_font * 2;
    color: $color3;
}

#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: $color1;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section {
    margin: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    width: 70%;
    border: 0.2rem solid $color2;
}

.full_fit {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: $color2;
    padding: 1rem;
    border-radius: $border_radius;
    border: 3px solid $color3;
}
